<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350006149526-ag3porjmauo0t28rvqh16ij8homps7t5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350006149526-ag3porjmauo0t28rvqh16ij8homps7t5</string>
	<key>API_KEY</key>
	<string>AIzaSyDLSkAWhBrPx4EvEnrLFbOcep8Kq0r-Cj4</string>
	<key>GCM_SENDER_ID</key>
	<string>350006149526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hunterbuxton.PersonalKanban</string>
	<key>PROJECT_ID</key>
	<string>personalkanban-7009d</string>
	<key>STORAGE_BUCKET</key>
	<string>personalkanban-7009d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350006149526:ios:5d191a957738deafde5db7</string>
</dict>
</plist>